<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Gestión Personas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/global.css'>
    <script src=''></script>
</head>
<body>
    <form id="personas" name="personas">
        <div id="bodyPeronas" class="bodyGeneral">
                <div id="encabezado" class="divEncabezado">
                    <label>Registro Personas</label>
                </div>
                <div id="data" class="divData">
                   <!-- Tabla de 3*2 -->
                   <table border="1">
                        <tr>
                            <td>Fil1 Col1</td>
                            <td>Fil1 Col2</td>
                        </tr>
                        <tr>
                            <td>Fil2 Col1</td>
                            <td>Fil2 Col2</td>
                        </tr>
                        <tr>
                            <td>Fil3 Col1</td>
                            <td>Fil3 Col2</td>
                        </tr>
                   </table>
                   <br>
                   <table border="1" class="widthTable">
                        <tr>
                            <td colspan="2" class="dataCenter">Titulo</td>
                        </tr>
                        <tr>
                            <td>F2C1</td>
                            <td>F2C2</td>
                        </tr>
                        <tr>
                            <td>F3C1</td>
                            <td>F3C2</td>
                        </tr>
                   </table>
                </div>
        </div>
    </form>
</body>
</html>