<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ejemplo1</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../css/global.css'>

    <link rel='stylesheet' type='text/css' media='screen' href='../libreria/bootstrap/bootstrap.min.css'>    
    <script src="../libreria/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->

    <script src='../js/Tarea1.js'></script>
</head>
<body>
    <div class="container">        
        <table class="table table-primary">
            <tr>
                <td colspan="2" class="titulo">Tarea 1 1</td>
            </tr>
            <tr>
                <td>
                    En un hospital existen tres áreas: Ginecología, Pediatría, Traumatología. El presupuesto anual del hospital se reparte conforme a la sig. tabla:
                    <br>
                    Área			Porcentaje del presupuesto
                    Ginecología			40%
                    Traumatología		30%
                    Pediatría			30%
                    <br>
                    -	Obtener la cantidad de dinero que recibirá cada área, para cualquier monto presupuestal.        
                </td>
                <td>
                    <input type="button" id="btnEjecutar1" name="btnEjecutar1" value="Ejecutar" onclick="Calcular(1)">
                </td>
            </tr>
            <tr>
                <td>
                    El dueño de una tienda compra un artículo a un precio determinado. Obtener el precio en que lo debe vender para obtener una ganancia del 30%.
                </td>
                <td>
                    <input type="button" id="btnEjecutar2" name="btnEjecutar2" value="Ejecutar" ondblclick="Calcular(2)">
                </td>
            </tr>
            <tr>
                <td>
                    Todos los lunes, miércoles y viernes, una persona corre la misma ruta y cronometra los tiempos obtenidos. Determinar el tiempo promedio que la persona tarda en recorrer la ruta en una semana cualquiera.                
                </td>
                <td>
                    <input type="button" id="btnEjecutar3" name="btnEjecutar3" value="Ejecutar" onclick="Calcular(3)">
                </td>
            </tr>
        </table>
    </div>    
</body>
</html>